<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload CSV File</title>
</head>
<body>
    <h1>Upload CSV File</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload & Process">
    </form>

    {% if filename %}
        <h2>Graphs Generated</h2>
        <p>Download your ZIP file:</p>
        <a href="{{url_for('static', filename = 'uploads/' + filename)}}" download>
            <button>Download ZIP File</button>
        </a>
    {% else %}
        <p>No graphs generated yet. Upload a CSV file to generate graphs.</p>
    {% endif %}
</body>
</html>