<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload CSV File</title>
</head>
<body>
    <h1>Upload CSV File</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    {% if filename %}
        <h2>Graph Generated</h2>
        <p>File Name: {{ filename }}</p>
        <a href="{{url_for('static', filename = 'uploads/' + filename)}}" download>
            <button>Download File</button>
        </a>
    {% else %}
        <p>No graph generated yet. Upload a CSV file to generate a graph.</p>
    {% endif %}
</body>
</html>